.icons {
  position: absolute;
  right: 9rem;
  top: 2.5rem;
  cursor: pointer;
  opacity: 0.7;

  svg {
    height: 3rem;
    width: 3rem;
    transform-origin: center;
  }
}

.icons:hover {
  opacity: 1;
}
