.ToTop {
  cursor: pointer;
  font-size: 3.2rem;
  font-weight: bold;
  position: fixed;
  z-index: 1;
  right: 1rem;
  bottom: 1rem;
  background-color: #232323;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 50%);
  color: #fefefe;
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ToTop::before {
  content: "";
  background-color: transparent;
  width: 6rem;
  height: 6rem;
  position: absolute;
  top: -1.3rem;
  right: -1.5rem;
}
