@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  src: local("JetBrains Mono Bold"), local("JetBrains-Mono-Bold"),
    url("/fonts/JetBold.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  src: local("JetBrains Mono Regular"), local("JetBrains-Mono-Regular"),
    url("/fonts/JetRegular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "LibreBaskerville";
  font-style: normal;
  font-weight: 300;
  src: local("LibreBaskerville"), local("LibreBaskerville-Regular"),
    url("/fonts/LibreBaskerville.ttf") format("truetype");
}
