.customComputedCSS {
 block-size : 92px;
 bottom : 0px;
 height : 92px;
 inset-block-end : 0px;
 inset-block-start : 0px;
 inset-inline-end : 0px;
 inset-inline-start : 0px;
 left : 0px;
 max-block-size : 92px;
 max-height : 92px;
 perspective-origin : 136px 46px;
 position : relative;
 right : 0px;
 top : 0px;
 transform-origin : 136px 46px 
}