.slider {
  display: flex;
  width: 20rem;
  height: 31rem;
  transition: all 0.5s ease-in-out;

  @media only screen and (max-width: 700px) {
    width: 25rem;
    height: 36rem;
  }

  img {
    height: auto;
    display: block;
    position: relative;
    margin: 0 2.5rem;
    width: 15rem;

    @media only screen and (max-width: 700px) {
      width: 20rem;
    }
  }
}

.projeto {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 24rem;
  height: 35rem;

  @media only screen and (max-width: 700px) {
    width: 29rem;
    height: 40rem;
    margin: 0 5rem;
  }

  @media only screen and (max-width: 500px) {
    margin: 0 auto;
  }

  &__titulo {
    line-height: 4rem;
    width: 100%;
    text-align: center;
  }

  &__slider {
    display: flex;
    width: 20rem;
    height: 31rem;
    transition: all .5s ease-in-out;

    @media only screen and (max-width: 700px) {
      width: 24rem;
      height: 36rem;
    }

    img {
      height: auto;
      display: block;
      position: relative;
      padding: 0 3rem;
      @media only screen and (max-width: 700px) {
        width: 24rem;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__arrow {
    font-size: 3rem;
    width: 2rem;
    cursor: pointer;
    z-index: 10;
  }

  &__left, &__right {
    display: block;
  }


}


